/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* Это было для автотестов, но он все еще не видит background-attachment: fixed */
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--background-image) no-repeat top center;
  background-color: var(--background-color);
  background-attachment: fixed;
  background-size: cover;
  /* Поменял на cover */
  color: var(--main-text-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corner-color);
  border-bottom: 1px solid var(--corner-color);
  left: 20px;
  bottom: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corner-color);
  border-top: 1px solid var(--corner-color);
  right: 20px;
  top: 20px;
}

.title_decoration {
  background: var(--title-decoration);
}

.header {
  padding: 0 20px;
  position: relative;
  min-height: 668px;
  height: 100vh;
  /* Добавил height и  min-height */
  display: grid;
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corner-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
  position: relative;
}

.header__theme-menu-button:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--section-title-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.header_rec-text {
  position: absolute;
  top: 21px;
  right: 49px;
  text-transform: uppercase;
  color: var(--header_rec-text);
}

.header_rec-text::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--header_rec-text);
  background-color: var(--header_rec-text);
  top: 50%;
  right: 0;
}

.header_title {
  font-weight: 700;
  color: var(--title-color);
  font-size: 157px;
  text-shadow: 4px 4px 0px var(--title-effect);
  margin-left: -2%;
}

.header_title-content {
  display: flex;
  flex-direction: column;
  padding: 238px 0 136px;
  gap: 76px;
}

.header_subtitle {
  align-self: flex-end;
  font-weight: 700;
  width: 50%;
  color: var(--subtitle-color);
}

/* main & sectoins */

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0 20px;
  margin: 60px 0;
  flex: 1 1 auto;
}

.section_title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 23.4px;
  width: 31%;
  color: var(--section-title-color);
  text-wrap: wrap;
}

.section-text {
  font-weight: 400;
  line-height: 23.4px;
  font-size: 18px;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section_list {
  display: flex;
  flex-wrap: wrap;
}

.section_list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section_list-item_title {
  font-size: 18px;
  font-weight: 700;
  color: var(--subtitle-color);
}

.section:nth-of-type(1) .section_list,
.section:nth-of-type(3) .section_list {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 66%;
  gap: 20px;
}
.section:nth-of-type(2) {
  flex-direction: column;
}

.section:nth-of-type(2) .section_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  /* Элементы теперь переносятся на новую строку */
}

.section:nth-of-type(2) .section_list-item {
  flex-basis: calc(33.33% - 20px);
}

.section-text-link {
  border: transparent;
  text-shadow: 2px 2px 0 var(--link-effect);
  /* заменил text-shadow: 3px 3px 0px var(--link-effect); на  text-shadow: 2px 2px 0 var(--link-effect); */
}

.section-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section-text-link:focus {
  border-bottom: 1px var(--main-text-color);
  outline: none;
  position: relative;
}

/* .section-text-link:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-text-color);
} */

.section-text-link:focus-visible {
  border: none;
  outline: 1px solid var(--main-text-color);
}

/* section1 adapt */

/* Section 3 */

.title_normal {
  font-weight: normal;
}

.section:last-of-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 19px;
}

.section:last-of-type .section_list-item_title {
  grid-column: 1 / -1;
  margin-bottom: 0;
  width: 100%;
  text-align: left;
}

/* Добавил правила для изображений основному селектору */

.section:last-of-type .section_image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.section:last-of-type img:first-of-type,
.section:last-of-type img:last-of-type {
  grid-column: span 2;
}

.section:last-of-type img:nth-of-type(2),
.section:last-of-type img:nth-of-type(3) {
  grid-row: span 2;
}

/* Footer */

.footer {
  display: grid;
  align-items: center;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 0px var(--title-effect);
  height: 100vh;
  min-height: 668px;
  /* Добавил height и min-height */
}

.footer_title {
  font-weight: 700;
  color: var(--title-color);
  font-size: 157px;
  text-shadow: 2px 2px 0 var(--title-effect);
}

/* Adapt */

@media (width <= 1023px) {
  /* 768 */

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .header_title-content {
    padding: 0px;
    gap: 0px;
    margin-top: 150px;
  }

  .header_title {
    font-size: 120px;
  }

  .footer_title {
    font-size: 120px;
  }

  .header__theme-menu {
    margin-top: 172px;
  }

  .header_subtitle {
    margin-top: 130px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .section:nth-of-type(1) .section_list,
  .section:nth-of-type(3) .section_list {
    width: 65%;
  }

  .section:nth-of-type(2) .section_list {
    flex-direction: column;
  }

  .section:nth-of-type(3) .section_title {
    width: 32%;
  }
}

@media (width <= 767px) {
  /* 375*/
  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }

  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .header_rec-text {
    top: 11px;
    right: 39px;
  }

  .header {
    padding: 0 10px;
  }
  .header_title {
    margin-left: 0px;
    line-height: 95.7px;
    font-size: 116px;
  }

  .header_title-content {
    margin-top: 65px;
  }

  .header__theme-menu {
    margin-top: 55px;
  }

  .header_subtitle {
    margin-top: 58px;
    width: inherit;
    margin-left: 1%;
  }

  .section:nth-of-type(1),
  .section:nth-of-type(3) {
    flex-direction: column;
  }
  .section:nth-of-type(1) .section_title,
  .section:nth-of-type(3) .section_title,
  .section:nth-of-type(1) .section_list,
  .section:nth-of-type(3) .section_list,
  .section_title {
    width: 100%;
  }

  .main {
    padding: 0 10px;
    margin: 40px 0;
    gap: 51px;
  }

  .section:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    padding: 0;
  }

  .footer_title {
    font-size: 116px;
  }
}
/* @media (width <= 375px) {
  .decorated-zone::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-left: 1px solid var(--corner-color);
    border-bottom: 1px solid var(--corner-color);
    left: 10px;
    bottom: 10px;
  }

  .decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-right: 1px solid var(--corner-color);
    border-top: 1px solid var(--corner-color);
    right: 10px;
    top: 10px;
  }
}
@media (width > 375px) {
  .decorated-zone::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-left: 1px solid var(--corner-color);
    border-bottom: 1px solid var(--corner-color);
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-right: 1px solid var(--corner-color);
    border-top: 1px solid var(--corner-color);
    right: 20px;
    top: 20px;
  }
} */
