/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--background-image) no-repeat top center, var(--background-color);
  background-size: auto 768px;
  color: var(--main-text-color);
}

.header {
  padding: 0 20px;
  position: relative;
}

.header_rec_text {
  position: absolute;
  top: 21px;
  right: 49px;
  text-transform: uppercase;
  color: var();
}