/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-attachment: fixed !important;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--background-image) no-repeat top center,
    var(--background-color);
  background-size: auto 768px;
  color: var(--main-text-color);
}

.header {
  padding: 0 20px;
  position: relative;
  min-height: 100vh;
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corner-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.header_rec-text {
  position: absolute;
  top: 21px;
  right: 49px;
  text-transform: uppercase;
  color: var(--header_rec-text);
}

.header_rec-text::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--header_rec-text);
  background-color: var(--header_rec-text);
  top: 50%;
  right: 0;
}

.header_title {
  font-weight: 700;
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5rem + 14vw, 9.8rem);
  text-shadow: 4px 4px 0px var(--title-effect);
}

.header_title-div {
  display: flex;
  flex-direction: column;
  padding: 238px 0 136px;
  gap: 76px;
}

.header_subtitle {
  align-self: flex-end;
  font-weight: 700;
  width: 50%;
  color: var(--subtitle-color);
}

/* theme-menu adapt */

@media (width < 1024px) and (width >=768px) {
  .header__theme-menu {
    padding-top: 190px;
  }
}

@media (width < 768px) and (width >=375px) {
  .header__theme-menu {
    padding-top: 75px;
  }
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (width < 768px) and (width >=375px) {
  .header__theme-menu-list {
    gap: 11px;
  }
}

/* header_title adapt */

@media (width < 1024px) and (width >=768px) {
  .header_title-div {
    padding: 150px 0 183px;
    gap: 133px;
  }
}

@media (width < 768px) and (width >=375px) {
  .header_title-div {
    padding: 70px 0 74px;
    gap: 57px;
  }
}

@media (width < 768px) and (width >=375px) {
  .header_title {
    font-size: clamp(7.25rem, 7rem + 1vw, 7.5rem);
    margin-left: 0;
    line-height: 82.5%;
  }
}

/* header_subtitle adapt */

@media (width < 425px) {
  .header_subtitle {
    width: 100%;
  }
}

/* main & sectoins */

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0 20px;
  margin: 60px 0;
  flex: 1 1 auto;
}

.section_title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--section-title-color);
}

.section {
  line-height: 1.3;
  display: block;
}

.section-1 {
  display: flex;
  justify-content: space-between;
}

.section-1 .section_title {
  flex: 0 0 auto;
  width: 30%;
}

.section-1 .section_list {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 65%;
  gap: 20px;
}

.section_list {
  display: flex;
  flex-wrap: wrap;
}

.section_list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section_list-item_title {
  font-size: 18px;
  font-weight: 700;
  color: var(--subtitle-color);
}

.section-text-link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-effect);
}

.section-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/* section1 adapt */

@media (width <= 768px) and (width >= 375px) {
  .section-1 {
    flex-direction: column;
  }
  .section-1 .section_title,
  .section-1 .section_list {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (width < 1024px) and (width >= 768px) {
  .section-1 .section_title {
    width: 35%;
    padding-right: 20px;
  }
}

/* Section 2 */
.section-2 {
  display: flex;
  flex-direction: column;
}

.section-2 .section_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.section-2 .section_list-item {
  flex-basis: calc(33.33% - 20px);
}

/* section2 adapt */

@media (width < 1024px) and (width >=375px) {
  .section-2 .section_list {
    flex-direction: column;
    gap: 20px;
  }
}

/* Section 3 */

.title_normal {
  font-weight: normal;
}

/* Section 4 */

/* ad */

.section-images {
  display: grid;
  gap: 20px;
}

.section-images .section_list-item_title {
  grid-column: 1 / -1; /* Растягиваем заголовок на всю ширину грида */
  margin-bottom: 0; /* Убираем нижний отступ, если он есть */
  width: 100%;
  text-align: left;
}

@media (width >= 768px) {
  .section-images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }

  .section-images .section_image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  /* Применяем стили span только к изображениям, а не к заголовку */
  .section-images img:first-of-type,
  .section-images img:last-of-type {
    grid-column: span 2;
  }

  .section-images img:nth-of-type(2),
  .section-images img:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width < 768px) {
  .section-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (width < 768px) {
  .section-images .section_image {
    width: 100%;
    height: auto;
  }
}

/* Footer */

.footer {
  padding: 282px 20px;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 0px var(--title-effect);
  min-height: 100vh;
}

.footer_title {
  font-weight: 700;
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5rem + 14vw, 9.8rem);
  text-shadow: 4px 4px 0px var(--title-effect);
}

/* Footer adapt */
@media (width < 768px) and (width >= 375px) {
  .footer_title {
    font-size: clamp(7.25rem, 7rem + 1vw, 7.5rem);
  }
}

@media (width < 1024px) and (width >= 768px) {
  .footer {
    padding: 434px 20px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .footer {
    margin-top: 40px;
    padding: 262px 10px;
  }
}
